<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="home-style home-container">
    <h1 style="background-color: #c8ffe2;">Create your own animal database!</h1>
    <div class="home-buttons"></div>
        <a style="display:block" href="/user/login"><button>Login</button></a></div>
    <div class="home-buttons">
        <a style="display:block" href="/user/signup"><button>Sign Up</button></a></div>
</body>
</html>