<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="background-style">
    <h1>Signup to start creating!</h1>
    <main class="position-style">
        <form action="/user/signup" method="POST">
            <fieldset>
                <label for="username" style="color: #42b6de">Username: <input type="text" name="username" id="username" required></label>
                <label for="password" style="color: #42b6de">Password: <input type="password" id="password" name="password" required></label>
                <input type="submit" value="Create Account!"style="background-color: #42b6de; color: #fff">
            </fieldset>
        </form>
    </main>
</body>
</html>